

<p id="notice"><%= notice %></p>

<p class="heading">ALL POSTS</p>
<!-- <%- if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end%> -->
<br>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class="backgroundimage">
  <div class="content">
  <tbody>
    <% @posts.each do |post| %>
  <!-- <br>
  <%= image_tag post.image.url(:medium) %>
  <br> -->
  <div class="col-md-6 col-md-offset-3 maincontainer" style="min-height:50px;">

    <% to_fade = post.get_downvotes.size > 1 ? "fade-out" : "fade-in"%>
    <div class="thumbnail <%= to_fade %> " >
      <p class="postcontent"> <%= post.content %></p>
    </div>
  <!-- <%= image_tag post.image.url(:medium) %> -->

<div class="bottomcontainer">

  <a class="pull-left col-md-3" href="/users/<%= post.user.id %>">
    <% if !post.user.avatar_file_name.blank? then %>
      <%= image_tag post.user.avatar.url(:thumb), class: "avatar" %>
        <% end %>
        <!-- <%= link_to post.user.username, posts_path %> -->
         <%= post.user.username %>
    </div>

    </a>





  <%= link_to like_post_path(post), class:"like", method: :put do %>
<!-- </div> -->
<!-- <div class="username col-md-3"> -->
  <button type="button" class="up-vote btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <span id="up-vote" class="badge"><%= post.get_upvotes.size%></span>
  </button>
  <% end %>

  <%= link_to unlike_post_path(post), class:"like", method: :put do %>
  <button type="button" class="down-vote btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span id="down-vote" class="badge"><%= post.get_downvotes.size%></span>
  </button>
  <% end %>

</div>
</div>
</div>



      <!-- <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->

    <% end %>
  </tbody>
</table>

<br>
<style>


.heading {
font-family: 'Courgette', cursive;
  font-size: 35px;
  color: 	white;
  padding-top: 40px;
  padding-bottom: 30px;


}

.postcontent{
font-family: 'Handlee', cursive;
  font-size: 20px;
  color: #00b3e3;
  margin-top: 90px;
}


.thumbnail{
    background-image: url("/images/bubbles.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    padding: 10% 25% 17% 25% ;
    background-color: rgba(250, 250, 250, 0);
    border-color: rgba(250, 250, 250, 0);
}

.fade-in {
  animation: 2s linear fade-in;
  animation-fill-mode: both;
}

.fade-out {
  animation: 2s linear fade-out;
  animation-fill-mode: both;
}

@keyframes fade-in { 0% { opacity: 0.5 } 100% { opacity: 1 } }
@keyframes fade-out { 0% { opacity: 1} 100% { opacity: 0.5 } }

.avatar {
  background-color: white;
  border: 1px solid #d9d9d9 ;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.maincontainer{
    margin-bottom: 50px;
}
body{
    background-image: url("/images/sky.jpg");

}

.backgroundimage{
    background-image: url("/images/sky.jpg");
    /*background-size: cover;*/
    display: block;
    filter:blur(10px);
    -webkit-filter: blur(10px);

    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    top: -10px;

}

.content{
    z-index: 2;
}


.username {
  background-color: red;
}



</style>





<script type="text/javascript">

$upVoteButtons = $('.up-vote')
$downVoteButtons = $('.down-vote')
$thumbnails = $('.thumbnail')

$downVote = $('#down-vote').text()

$downVoteButtons.click(function(){
  console.log('hello')
  if ($downVote < 2) {
    console.log('less than 2')
    $('div.thumbnail').fadeTo("slow",1,function(){});
  }
  if ($downVote > 1) {
    console.log('2 or more votes');
    $('div.thumbnail').fadeTo("slow",0.5,function(){});
  }
})
</script>
