<p id="notice"><%= notice %></p>





<br>

        <div class="container col-sm-6 col-sm-offset-3">
          <div class = "border">
          <div class ="title">
          <%= @post.title %>
          </div>
          <div class="col-sm-6 col-md-4 thumbnail" style="min-height:50px;">
             <p class = "content"><%= @post.content %></p>
           </div>
         </div>
           <div class="actions">
             <%- if user_signed_in? %>
             <%= link_to 'Edit', edit_post_path(@post) %> |
             <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>|
             <%end%>
             <%= link_to 'Back', posts_path %>
           </div>
         </div>


  <br>

<style>

/*.thumbnail{
  background-image: url("http://cliparts.co/cliparts/ki8/nKa/ki8nKaEdT.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding: 10% 25% 17% 25% ;
}*/


@import url(https://fonts.googleapis.com/css?family=Courgette);



.thumbnail{
background-image: url("/images/bubbles.png");
background-size: 100% 100%;
background-repeat: no-repeat;
width: 100%;
height: 400px;
padding: 10% 25% 17% 25% ;
background-color: rgba(250, 250, 250, 0);
border-color: rgba(250, 250, 250, 0);
margin-top: 20px;
}

.title{
  height: 40px;
  vertical-align: middle;
  margin-bottom: 50px;
  font-family: 'Courgette', cursive;
    font-size: 35px;
    color: 	#0878a6;
    padding-top: 10px;
}



.content{
  padding-top: 60px;
  font-family: 'Handlee', cursive;
    font-size: 30px;
    color: #00b3e3;
}

.border{
  border-color: 	blue;
}

</style>
