<p id="notice"><%= notice %></p>
<%= @post.title %>
<%= @post.content %>

<br>
<!-- <%= image_tag(@post.image.url(:medium)) %> -->
<!-- <div class="panel panel-default">
  <div class="panel-heading">Panel with panel-default class</div>
  <div class="panel-body"><%= @post.content %></div>
</div> -->
    <div class="container">
        <div class="row">
          <div class="carousel-caption">
            <h3><%= @post.content %></h3>
          </div>

                <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle">


     </div>

    </div>


  <br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<style>
img {
  width:400px;
  height:400px;
}
.carousel-caption {
    top: 40px;
    bottom: auto;
}
</style>
