<!DOCTYPE html>
<html>
<head>
  <title>RandomThoughts</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  body {
      padding-top: 90px;
    }
  </style>
</head>
<body>

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <!-- <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span> -->
                      <!-- <span class="icon-bar"></span>
                      <span class="icon-bar"></span> -->
                  </button>
                  <%= link_to image_tag("navicon2.png"), allposts_path, class: "navbar-brand" %>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="navbar-text navbar-right" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">

                      <%- if current_user %>
                      <li>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                      </li>
                      <li>
                        <%= link_to current_user.username, posts_path %>
                      </li>
                      <% else %>
                      <li>
                      <%= link_to "Login", new_user_session_path %>
                      </li>
                      <li>
                      <%= link_to "Register", new_user_registration_path %>
                      </li>
                      <% end %>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
    <div class="contentcontainer">
      <!-- Page Content -->
      <div class="container">

          <div class="row">
              <div class="col-lg-12 text-center">

                  <%= yield %>
                  <!-- <h1>A Bootstrap Starter Template</h1>
                  <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
                  <ul class="list-unstyled">
                      <li>Bootstrap v3.3.6</li>
                      <li>jQuery v1.11.1</li>
                  </ul> -->

              </div>

          </div>
          <!-- /.row -->

      </div>

  </div>




</body>
</html>

<style>

.navbar{
  background-color: white;

}


body{
  background-color:#fafafa
}


</style>
</script>
<script>
// $('.contentcontainer').css({'background-image': "url('/images/sky.jpg')", "opacity": "1"});
</script>
